# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include build output with the repo.
# It should be uploaded to GitHub releases instead.
dist/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude test coverage reports
coverage/

# Exclude (most of) the testing vault
test-vault/.obsidian/*
!test-vault/.obsidian/community-plugins.json
!test-vault/.obsidian/plugins/
test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/sample-plugin/
!test-vault/.obsidian/plugins/hot-reload/
test-vault/.obsidian/plugins/sample-plugin/*
!test-vault/.obsidian/plugins/sample-plugin/.hotreload
